body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("https://media.istockphoto.com/id/1095286208/photo/light-blue-paper-color-with-texture-for-background.jpg?b=1&s=612x612&w=0&k=20&c=eWPFSlCRZUamd2e_C9qbOXTqKVNww6q0Z4UnoXoJeVA=");
    background-size: cover;
    padding: 40px;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

a {
    color: red;
    margin-left: 0px;
    text-decoration: none;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 200px;
    margin-left: 280px;
}

button:hover {
    background-color: #0056b3;
}
.bodyContainer {
    background-image: url("https://img.freepik.com/premium-photo/abstract-curve-pattern-blue-white-background_49758-667.jpg");
    background-size: cover;
}

