<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chart</title>
    <link rel="stylesheet" href="/task-management/task/static/chat.css">
</head>
<body>
     <h1>Hello welcome to help line chat</h1>
    <div class="chart">
        <div class="bar" style="--height: 70%;"></div>
        <div class="bar" style="--height: 50%;"></div>
        <div class="bar" style="--height: 80%;"></div>
        <!-- Add more bars as needed -->
    </div>
</body>
</html>
